@import '../../variables.scss';

.info-message {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 10px;
    /* background-color: rgba(252, 255, 70, 0.5); */
    background-color: white;
    border: 1px solid #DFE5EC;
    color: black;
    font-weight: 500;
    
    @media(max-width: 768px) {
        font-size: $main-font-size;
    }
}