@import '../../variables.scss';

.ticket {
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: $large-font-size;
        color: $active-color;
    }

}


@media (max-width: 768px) {
    .ticket {
        &__price {
            font-size: 18px;
        }

        &__logo {
            width: 80px
        }
    }
}
