header {
    padding-top: 25px;
    padding-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo {
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    header {
        grid-column-start: auto;
        grid-column-end: auto;
        padding-bottom: 0;
        padding-top: 10px;
    }
}